# Dependencies
node_modules

# Only keep yarn.lock in the root
package-lock.json

# Logs
*.log

# Other
.nuxt*
!.nuxtignore
!.nuxtrc
.cache

# Dist folders
dist

# VSCode
.vscode

# Intellij idea
*.iml
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride
