/** Effective Block **/
ul {
    list-style: none;
}

/** Fixed Block **/
body {
    margin: 0;
}

header {
    color: white;
    background-color: rgba(34, 49, 52, 0.9);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

header a:hover {
    text-decoration: none;
}

#header-fixer {
    margin-top: 100px;
}

.header-always {
    height: 65px;
}

.header-accordion {
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    display: none;
}

.header-logo {
    font-size: 36px;
    line-height: 65px;
    float: left;
    display: block;
    margin: 0;
    padding: 0 25px;
}

.header-list, .header-accordion-contents {
    margin: 0;
}

.header-list li{
    float: left;
    cursor: pointer;
    transition: all 1s;
}

.header-list li:hover, .header-list-selected {
    float: left;
    background-color: rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    box-shadow: inset 0 -5px 0 0 aqua;;
}

.header-list p, .header-list a {
    line-height: 65px;
    padding: 0 20px;
    margin: 0;
    display: block;
}

.header-accordion-list {
    margin: 0;
}

.header-accordion-list li{
    float: left;
    position: relative;
    padding: 0 15px;
}

.header-accordion-list li:before {
    content: "";
    position: absolute;
    top: 0.85em;
    left: -0.1em;
    width: 0;
    height: 0;
    border-width: 6px 0 6px 9px;
    border-style: solid;
    border-color: transparent transparent transparent white;
}

.header-accordion-list p, .header-accordion-list a {
    color: white;
    line-height: 40px;
    margin: 0;
    display: block;
}